body {
  background-color: #121b22;
  color: #d0e0f0;
  font-family: "Liberation Serif", serif;
  line-height: 1.6;
  margin: 0;
  padding: 1em;
}

h1, h2, h3 {
  font-family: Georgia, serif;
  color: #cce4ff;
  margin-top: 2rem;
}

p {
  font-family: "Liberation Serif", serif;
  color: #d0e0f0;
  line-height: 1.6;
}

pre, code {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu Mono", "Liberation Mono", monospace;
  font-size: 1rem;
  color: #d9eaff;
}

blockquote {
  color: #89aaff;
  border-left: 4px solid #3a4a80;
  padding-left: 1em;
  margin-left: 0;
}

.poem {
  font-size: large;
  color: #a8d2ff;
  font-style: italic;
}

.bash, .output, .ansiout {
  font-family: "Ubuntu Mono", "Liberation Mono", monospace;
  font-size: 1rem;
  margin: 18px 0px;
  padding: 12px;
}

.output, .ansiout {
  background-color: #1d2935;
  color: #e0f0ff;
}

.ansi1 { font-weight: bold; }
.ansi31 { color: #ff5c5c; }

.bash {
  background-color: #253547;
  padding-left: 5px;
  color: #dbe9ff;
}
