/* General text */
body {
    text-align: justify
}

/* Headings */
h1 {
    color: #66ccff;
    border-bottom: 2px solid #66ccff;
    padding-bottom: 5px;
}
h2 {
    color: #66aaff;
    border-bottom: 1px solid #66aaff;
    padding-bottom: 3px;
}
h3 {
    color: #88bbff;
}

/* Code Blocks */
pre {
    background: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    overflow-x: auto;
}

/* Linux Input Code */
code.command {
    background: #2b272a;
    color: #faec9c;
    font-weight: bold;
}

/* Linux Output Code */
code.output {
    background: #3b3c3b;
    color: #ebf8ae;
    font-weight: bold;
    padding: 0px;
}

.ansi2html-content {
    background: #313030;
    padding: 0em 1em 1.3em 1em;
  }
  
.ansi1 { font-weight: bold; }
.ansi31 { color: #aa0000; }


code.output {
    background: #313030;
    padding: 0em 1em 0em 1em;
    margin: 0em 0;
}
