/* General text */

body {
    text-align: justify
}

/* Headings */
h1 {
    color: #000000;
    border-bottom: 2px solid #66ccff;
    padding-bottom: 5px;
}
h2 {
    color: #000000;
    border-bottom: 1px solid #66aaff;
    padding-bottom: 3px;
}
h3 {
    color: #000000;
}

/* Code Blocks */
pre {
    background: #faf8ce;
    padding: 10px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    overflow-x: auto;
}

/* Linux Input Code */
code.command {
    background: #faf8ce;
    color: #0b0a0a;
    font-weight: bold;
}

/* Linux Output Code */
code.output {
    background: #fff7f9;
    color: #272727;
    font-style: italic;
    padding: 0px;
}

.ansi2html-content {
    background: #d7f4cd;
    padding: 0em 1em 1.3em 0.5em;
  }
  
.ansi1 { font-weight: bold; }
.ansi31 { color: #aa0000; }
  
.output {
    background: #d7f4cd;
    padding: 0em 1em 0em 1em;
    margin: 0em 0;
}

